.column
  .title
    Trunk-based Development with Paul Hammant
  .description
    Come learn the nuts and bolts of trunk based development with one of its most active evangelists. Learn how to work without breaking code, how to write good tests, and how to work together effectively.
  .image-width70pct
    = image_tag "/images/solutions/version-control-collaboration/banner-for-registration.png", class: "margin-top10"
  = link_to "Register now", "https://gitlab.zoom.us/meeting/register/tJYvcuCtqTkjGNf9ayDAMArH1PojoD2qC6H0", class: "read-more"
