@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.header-content {

  h3 {
    text-align: left;
  }

  p {
    margin: inherit;
  }

  .hero-small {
    height: 100px;
  }

}

.gitlab-content-container img {
  border-radius: 0px;
  width: 100%;
}

.gitlab-content-container .speaker-image {
  border-radius: 50%;
  float: left;
  margin: 0 10px 10px 0;
  max-height: 100px;
  width: auto;
}

.speaker-name {
  font-size: 1.2em;
  font-weight: 700;
  margin-top: 18px;
}

.speaker-role {
  font-size: 1.1em;
  font-weight: 600;
}

.speaker-bio {
  clear: both;
}

@media (max-width: 992px) {

  .video-intro-copy {
    margin-bottom: 50px;
  }

  .video-intro-copy .text-left,
  .featured-speaker.text-left {
    text-align: left;
  }

}

.commit-content .js-in-page-nav-section {
  display: flex;
  flex-wrap: wrap;
}

.commit-content .container {
  margin-left: auto;
  margin-right: auto;
}

.commit-content .cityimage,
.commit-content .citycontent {
  float: none;
  flex: 0 0 auto;
}

@media (min-width: $screen-md) {

  .commit-content .js-in-page-nav-section:nth-of-type(odd) .cityimage {
    order: 2;
  }

  .commit-content .js-in-page-nav-section:nth-of-type(odd) .citycontent {
    order: 1;
  }

}

.gitlab-content-container .citycontent h2 {
  margin-top: 18px;
}
