.row
  .col-xs-12.col-md-6.col-md-offset-1
    %h2 GitLab CI/CD is built for Cloud Native
    %ul
      %li
        Define your CI/CD job environments with immutable
        %b Docker container images
        for consistency and reproducibility
      %li
        Utilize our
        %b Kubernetes integration
        to enable CI/CD features like AutoDevOps, Deploy Boards, Review Apps and Canary deployments
      %li
        Use our Cloud Deployment templates to easily deploy to cloud container and Kubernetes environments
  .hidden-xs.hidden-sm.col-md-4
    = image_tag "/images/features/kubernetes-logo.png", alt: "Kubernetes Cloud Native", style: "margin-top: 80px;"
%hr.divider/
