---
layout: markdown_page
title: "Trello"
---

<div class="col-md-10 col-md-offset-1 margin-bottom30">
  <p>Trello is a web-based project management application which uses the analogy of lists and cards as a user interface. A rich API as well as email-in capability enables integration with enterprise systems, or with cloud-based integration services. Trello offers a web interface, and mobile clients, and synchronizes all of them in near real time. Trello is offered as SaaS only.</p>
  <p>GitLab also offers a list and card based user interface for project management, but also offers capabilities in code creation, testing, packaging, releasing, monitoring, and securing the work. While Trello does a great job of providing the single functionality of work item management and only as a SaaS solution, GitLab offers one application for the entire DevOps lifecycle, either as SaaS or in a self-managed form.</p>
</div>

<div class="col-md-12 margin-bottom30">
  <div class="sdlc-component-container">
    <%= partial "includes/atlassian_comparison_tabs_vue" %>
  </div>
</div>
