.modal.buy-modal.fade{ id: id, role: 'dialog' }
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-header
        %button.close{ type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close' }
          %span{ 'aria-hidden': 'true' } &times;
      .modal-body
        .hosted
          .title GitLab SaaS
          .subtitle (We host)
          .logo= partial 'includes/icons/free-trial-cloud.svg'
          .setup No technical setup required.
          .explanation If you don't want to worry about downloading and installing GitLab yourself.
          .button
            = link_to hosted_text, hosted_link, class: 'btn btn-pricing'
        .self-managed
          .title GitLab Self-Managed
          .subtitle (You host)
          .logo= partial 'includes/icons/free-trial-self-managed.svg'
          .setup Requires Linux Experience.
          .explanation Download and install GitLab on your own infrastructure or in our public cloud environment.
          .button
            = link_to self_managed_text, self_managed_link, class: 'btn btn-pricing'
